<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a47576">  <td>22/05/02 13:56:55</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;MianClass.CloseBrowser()[pri:0, instance:investorwebotp.MianClass@4201c465]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1179792105</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/05/02 13:56:29</td>   <td>-25810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MianClass.login()[pri:1, instance:investorwebotp.MianClass@4201c465]">login</td> 
  <td>main@1179792105</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>22/05/02 13:56:25</td>   <td>-29592</td> <td>&nbsp;</td><td title="&gt;&gt;MianClass.openchrome()[pri:0, instance:investorwebotp.MianClass@4201c465]">&gt;&gt;openchrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1179792105</td>   <td></td> </tr>
</table>
